.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

h2 {
  margin: 20px 5px;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.IdCard,
.Greetings,
.Random,
.BoxColor {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
}

.IdCard img {
  margin: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
}

.BoxColor {
  display: flex;
  justify-content: center;
  text-align: center;
}

.creditCards {
  display: flex;
}

.creditCards img {
  max-width: 60px;
  padding: 5px;
}

.imgWrapper {
  display: flex;
  justify-content: flex-end;
}

.CreditCard {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
}

.number {
  margin: 25px 0 0 0;
  font-size: 30px;
}

.expAndBank {
  margin-top: 15px;
  display: flex;
  width: 70%;
}

.owner {
  margin: 0;
  float: left;
}

.bank {
  margin-left: 25px;
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 35px;
}

.DriverCard {
  background-color: #425cbb;
  width: 100%;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DriverCard p {
  margin: 0;
}

.driverInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.DriverCard img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.car {
  font-size: 18px;
  font-weight: 400;
}

.usersList {
  width: 100%;
}

.usersList img {
  height: 100px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

.sortButtons {
  display: flex;
}

.SignupPage {
  margin: 5em auto;
}

.signupForm {
  margin: 0 auto;
  background-color: rgb(174, 199, 233);
  width: 30em;
  padding: 2em;
  border-radius: 0.5em;
}
